/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* ===== BASE ===== */ 

body{
  background-color: #D7C9B8;
  color:#F5F1EA;

}


/* ===== HERO ===== */

.hero {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  background-image: url("/static/hero2.jpg"); 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(207,195,181,0.25);
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;

  background: linear-gradient(
  to bottom,
  transparent 40%,
  #D7C9B8 100%
  );
}


.hero-center {
  margin-top: 20px;
}
.hero-top,
.hero-center {
  position: relative;
  z-index: 2;
}
.hero-top p{
  font-size: 6vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.hero-center h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size:10vw;
  letter-spacing:3px;
  font-weight:600;

  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.hero-logo img{
  display: none;
}

/* Botones abajo derecha */
.hero-buttons {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

/* Botón principal */
.btn-primary {
  background-color: #F5F1EA;
  color: #7D5A44;
  border-radius: 30px;
  text-decoration: none;
  align-content: center;
  transition: 0.3s;
  font-weight: 500;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  font-size: 4vw;
  padding: 10px 22px;
}

.btn-primary:hover{
  background-color:#B2967D;
  transform:translateY(-2px);
  box-shadow:0 8px 18px rgba(0,0,0,0.15);
}


/* Botón WhatsApp */
.whatsapp-circle {
  width: 45px;
  height: 45px;
  background-color: #F5F1EA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7D5A44;
  font-size: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.whatsapp-circle:hover {
  background-color:#B2967D;
  transform:translateY(-2px);
  box-shadow:0 8px 18px rgba(0,0,0,0.15);
}



/* ABOUT */

.about{
    padding: 60px 20px;
    margin: auto;
    background:#D7C9B8;
} 

.reveal{
  opacity: 0;
  transform: translateY(16px);
  transition:
    opacity 0.7s cubic-bezier(0.33, 1, 0.68, 1),
    transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: opacity, transform;
}

.reveal.active{
  opacity: 1;
  transform: translateY(0);
}
/* NOMBRE */
.about-name-block{
    margin-bottom: 50px;
}

.name-first{
    font-family: 'Allura', cursive;
    font-weight: 300;
    font-size: 70px;
    margin-bottom: -15px;
    color: #7D5A44;
    text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
.name-last{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 0px;
    color: #F5F1EA;
     text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* FOTO */
.about-photo-block{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-bottom: 90px;
}

.about-photo-block img{
  width:230px;
  height:230px;
  border-radius:50%;
  object-fit:cover;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* TEXTO */
.about-text-block{
    font-size: 5vw;
    line-height: 1.6;
    max-width: 600px;
}


/* ===== SERVICES ===== */

.services{
  padding: 60px 20px;
  text-align: center;
}

.services-title{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #7D5A44;
  margin-bottom: 60px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.services-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

.text_price{
  margin-top: 30px;
}



.service-card{
  background-color:#f5f1ea;
  padding:30px 25px;
  border-radius:18px;

  box-shadow:0 8px 25px rgba(0,0,0,0.08);

  transition:
  transform 0.5s ease,
  box-shadow 0.5s ease;
}
.service-card h3{
  font-family: 'Josefin Sans', serif;
  color: #7D5A44;
  margin-bottom: 10px;
  font-size: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.service-card p{
  font-size: 1em;
  color: #4A342A;
  line-height: 1.5;
}

.service-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.service-card.active{
  opacity:1;
  transform:translateY(0);
}

.services-grid .service-card:nth-child(1){transition-delay:0.05s;}
.services-grid .service-card:nth-child(2){transition-delay:0.1s;}
.services-grid .service-card:nth-child(3){transition-delay:0.15s;}
.services-grid .service-card:nth-child(4){transition-delay:0.2s;}

/* ============ GALERÍA ================*/

.gallery{
  padding:80px 20px;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-color: #F5F1EA;
  text-align:center;
}

.section-title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #7D5A44;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.section-subtitle {
  color: #B2967D;
  margin-bottom: 40px;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.gallery-item{
  overflow:hidden;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.gallery-item img{
  width:100%;
  height:100%;
  object-fit:cover;

  transition: transform 0.5s ease;
}

.gallery-item:hover img{
  transform:scale(1.1);
}

.gallery-action {
  margin-top: 40px;
}

.btn-secondary {
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  transition: all .3s;
  background-color:#D7C9B8;
  color: #F5F1EA;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 13px;
  padding: 10px 22px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  border: none;
}

.btn-secondary:hover {
  background-color:#B2967D;
  transform:translateY(-2px);
}

/* ========= GIFT CARDS ============ */

.giftcards {
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
}

.gift-container {
  margin-bottom: 50px;
}

.gift-title {
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #7D5A44;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.gift-subtitle {
  font-size: 18px;
  color: #B2967D;
  opacity: 0.8;
}

.gift-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto 30px;
}

.gift-grid img {
  transition: transform 0.4s ease;
  width: 100%;
  height: auto;
  object-fit: cover
}

.gift-grid img:hover {
  transform: scale(1.03);
}


.gift-grid img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.gift-text {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.gift-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #B2967D;
}

.giftcard-buy{
  margin-top: 40px;
}

/* ========= RESERVAS ========= */

.booking{
padding: 60px 20px;
text-align:center;
background:#fff;
}

.booking button{
margin-top:15px;
}

.booking button a{
  text-decoration: none;
  color: #F5F1EA
}

.section-title{
  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.calendar-wrapper{

  max-height:0;
  overflow:hidden;
  transition:max-height 0.5s ease;
  margin-top:40px;
 
}

#open-calendar:focus{
outline:none;
}

.calendar-wrapper.active{
  max-height:320px;
}

#open-calendar{
  margin: 0px;
}

.calendar-placeholder .btn-secondary {
  width: 80%;
  max-width: 280px;
  text-align: center;
}

.calendar-placeholder{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
  padding: 10px 0;
}
/* ========== FOOTER =========== */

.footer{
background:#B2967D;
color:#F5F1EA;
padding:20px 10px 10px;
}

.footer-grid{
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
}

.footer-brand{
text-align:left;
}

.footer-contact{
text-align:right;
}


.footer h4{
margin-bottom:5px;
font-size:14px;
}

.footer h3{
  font-size: 14px;
}

.footer p{
  font-size: 10px;
}

.footer a{
color:white;
text-decoration:none;
opacity:0.8;
}

.footer a:hover{
opacity:1;
}
.footer-bottom{
text-align:center;
margin-top:10px;
font-size:14px;
opacity:0.6;
}

.footer-icons i{
font-size:24px;
color:white;
transition:0.3s;
}

.footer-icons i:hover{
transform:scale(1.15);
}


/* ===== RESPONSIVE ===== */
@media (min-width: 768px) {
  body{
    background-color: #F5F1EA;
  }
  .hero{
    height: 100dvh;
    background-color: #B2967D;
    background-image: none;
  }
  .hero-logo img{
    display: block;
    max-width: 30vh;
  }
  .hero-center h1{
    font-size: 8vw;
  }
  .hero-top{
    display: none;
  }
  .hero p {
    font-size: 65px;
  }
  .about{
    margin-top: 50px;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* sombra suave */
    border-radius: 8px;
  }
  .name-first{
    font-size: 7em;
  }
  .name-last{
    font-size: 4em;
  }
  .about-photo-block img{
  width:300px;
  height:300px;
  box-shadow:0 10px 20px rgba(0,0,0,0.25);
  border: 1px solid #B2967D;
  overflow: hidden;
  object-fit:cover;
  transition: transform 0.5s ease;
}
  .about-photo-block:hover img{
    transform:scale(1.1);
  }

  .about p{
    font-size: 1.6rem;
  }

  .services{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 900px;
    background-color: #D7C9B8;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* sombra suave */
    border-radius: 8px;
    margin: 50px auto;
  }

  .services-title{
    font-size: 4rem;
  }
  .service-card{
    font-size: 1em;
  }
  .service-card p{
    font-size: 1em;
  }
  .services,
  .booking,
  .about {
    padding: 100px 8%;
  }

  .section-title{
    font-size: 4rem;
  }

  .section-subtitle{
    font-size: 1.6rem;
  }

  .btn-primary,
  .btn-secondary{
    font-size: 15px;
    padding: 12px 28px;
  }

  .gallery-grid{
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: 0 auto;
  }

  .gift-title{
    font-size: 4rem;
  }

  .gift-subtitle{
    font-size: 1.6rem;
  }
  
  .gift-text p{
    font-size: 1.6rem;
  }
  .footer-grid{
  display: flex;
  justify-content: space-between; /* distribuye izquierda y derecha */
  align-items: center;            /* alinea verticalmente */
  max-width: 90%;              /* limita el ancho total */
  margin: 0 auto;                 /* centra el bloque en la página */
  padding: 10px 20px;             /* agrega espacio interno */
}


  
}
  

