<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Serena Nails: un espacio para que te sientas mimada y bella.">
  <title>Serena Nails</title>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
<section class="hero">

  <div class="hero-logo">
    <img src="../static/SNlogo.png" alt="logo-serena">
  </div>
  <div class="hero-top">
    <p class="welcome">BIENVENIDA A</p>
  </div>

  <div class="hero-center">
    <h1>SERENA NAILS</h1>
  </div>

  <div class="hero-buttons">
    <a href="https://calendly.com/navcevichsh" class="btn-primary">Reservar Turno</a>
    <a href="https://wa.me/+598097300766?text=Hola!%20Quiero%20reservar%20un%20turno." target="_blank" class="whatsapp-circle">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>

</section>


<section class="about">
  <!-- NOMBRE -->
  <div class="about-name-block reveal">
    <h2 class="name-first reveal">Sheila</h2>
    <h2 class="name-last reveal">NAVCEVICH</h2>
  </div>
     <!-- FOTO -->
  <div class="about-photo-block reveal">
    <img src="/static/about2.jpg" alt="Sheila Navcevich">
  </div>

  <!-- TEXTO -->
  <div class="about-text-block reveal">
    <p>
      Soy técnica en uñas certificada y me apasiona crear diseños elegantes
      y duraderos que resalten tu estilo personal.

      Me especializo en manicura clásica, soft gel y nail art personalizado.
      Mi objetivo es que cada clienta viva una experiencia cómoda,
      profesional y hermosa.
    </p>

  </div>
 
</section>

<section class="services">

  <h2 class="services-title">SERVICIOS</h2>

  <div class="services-grid">

    <div class="service-card reveal">
      <h3>Kapping Gel</h3>
      <p>Refuerzo sobre tu uña natural para mayor durabilidad y resistencia.</p>
    </div>

    <div class="service-card reveal">
      <h3>Soft Gel</h3>
      <p>Extensiones ligeras y elegantes con acabado natural.</p>
    </div>

    <div class="service-card reveal">
      <h3>Semipermanente</h3>
      <p>Esmaltado duradero con brillo perfecto por semanas.</p>
    </div>

    <div class="service-card reveal">
      <h3>Nail Art</h3>
      <p>Diseños personalizados para expresar tu estilo único.</p>
    </div>

  </div>

</section>

<section class="gallery">

  <div class="container">

    <h2 class="section-title">TRABAJOS</h2>
    <p class="section-subtitle">
      Algunos diseños realizados
    </p>

    <div class="gallery-grid">

      <div class="gallery-item">
        <img src="/static/nails1.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails2.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails3.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails4.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails5.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails6.webp" loading="lazy" alt="Diseño de uñas">
      </div>

    </div>

    <div class="gallery-action">
      <a href="https://www.instagram.com/serenanails.uy/" class="btn-secondary">
        Ir a galería
      </a>
    </div>

  </div>

</section>
<section class="booking">

  <div class="container">

    <h2 class="section-title">RESERVA TU TURNO</h2>

    <p class="section-subtitle">
      Elegí el horario que mejor te quede desde nuestro calendario
    </p>

    <button class="btn-secondary" id="open-calendar">
        Ver disponibilidad
    </button>

    <div class="calendar-wrapper" id="calendar">

      <div class="calendar-placeholder">
          <a href="https://calendly.com/navcevichsh/kapping" target="_blank" class="btn-secondary">
            Kapping
          </a>
          <a href="https://calendly.com/navcevichsh/soft-gel" target="_blank" class="btn-secondary">
            Softgel
          </a>
          <a href="https://calendly.com/navcevichsh/semipermanente" target="_blank" class="btn-secondary">
            Semipermanente
          </a>
      </div>

    </div>

  </div>

</section>

<footer class="footer">

  <div class="container footer-grid">

    <div class="footer-brand">
      <h3>Sheila Navcevich</h3>
      <p>Diseños profesionales de uñas.</p>
    </div>

    <div class="footer-contact">

      <h4>Contacto</h4>

      <div class="footer-icons">

        <a href="https://wa.me/+598097300766" aria-label="whatsApp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a href="https://www.instagram.com/serenanails.uy/" aria-label="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="mailto:navcevichsh@gmail.com" aria-label="Email">
          <i class="fa-regular fa-envelope"></i>
        </a>

      </div>

    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Serena Nails by BARIT</p>
  </div>

</footer>

<script src="/static/js/main.js"></script>

</body>
</html>