<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Serena Nails: un espacio para que te sientas mimada y bella.">
  <title>Serena Nails</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Allura&display=swap" rel="stylesheet">

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</noscript>

  <link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="image" href="{{ url_for('static', filename='hero2.jpg') }}" media="(max-width: 767px)">
  <noscript>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </noscript>
  <style>
    body {
      margin: 0;
      background-color: #D7C9B8;
      color: #F5F1EA;
      font-family: 'Josefin Sans', sans-serif;
    }

    .hero {
      position: relative;
      min-height: 100vh;
      min-height: 100svh;

      background-image: url("{{ url_for('static', filename='hero2.jpg') }}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media (min-width: 768px) {
      body{
        background-color: #F5F1EA;
      }
      .hero{
      height: 100dvh;
      background-color: #B2967D;
      background-image: none;
      }
      .hero-logo img{
        display: block;
        max-width: 30vh;
      }
      .hero-center h1{
        font-size: 8vw;
      }
      .hero-top{
        display: none;
      }
      .hero p {
        font-size: 65px;
      }
    }
</style>
</head>


<body>
<section class="hero">

  <div class="hero-logo">
    <img src="../static/SNlogo.webp" alt="logo-serena" fetchpriority="high" >
  </div>
  <div class="hero-top">
    <p class="welcome">BIENVENIDA A</p>
  </div>

  <div class="hero-center">
    <h1>SERENA NAILS</h1>
  </div>

  <div class="hero-buttons">
    <a href="https://calendly.com/serena-nails" class="btn-primary">Reservar Turno</a>
    <a href="https://wa.me/+598097300766?text=Hola!%20Quiero%20reservar%20un%20turno." target="_blank" class="whatsapp-circle">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>

</section>


<section class="about">
  <!-- NOMBRE -->
  <div class="about-name-block reveal">
    <h2 class="name-first reveal">Sheila</h2>
    <h2 class="name-last reveal">NAVCEVICH</h2>
  </div>
     <!-- FOTO -->
  <div class="about-photo-block reveal">
    <img src="/static/about2.webp" alt="Sheila Navcevich">
  </div>

  <!-- TEXTO -->
  <div class="about-text-block reveal">
    <p>
      Soy técnica en uñas certificada y me apasiona crear diseños elegantes
      y duraderos que resalten tu estilo personal.

      Me especializo en manicura clásica, soft gel y nail art personalizado.
      Mi objetivo es que cada clienta viva una experiencia cómoda,
      profesional y hermosa.
    </p>

  </div>
 
</section>

<section class="services">

  <h2 class="services-title">SERVICIOS</h2>

  <div class="services-grid">

    <div class="service-card reveal">
      <h3>KAPPING GEL</h3>
      <p>Refuerzo sobre tu uña natural para mayor durabilidad y resistencia.</p>
    </div>

    <div class="service-card reveal">
      <h3>SOFT GEL</h3>
      <p>Extensiones ligeras y elegantes con acabado natural.</p>
    </div>

    <div class="service-card reveal">
      <h3>SEMIPERMANENTE</h3>
      <p>Esmaltado duradero con brillo perfecto por semanas.</p>
    </div>

    <div class="service-card reveal">
      <h3>NAIL ART</h3>
      <p>Diseños personalizados para expresar tu estilo único.</p>
    </div>

  </div>

</section>

<section class="gallery">

  <div class="container">

    <h2 class="section-title">TRABAJOS</h2>
    <p class="section-subtitle">
      Algunos diseños realizados
    </p>

    <div class="gallery-grid">

      <div class="gallery-item">
        <img src="/static/nails1.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails2.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails3.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails4.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails5.webp" loading="lazy" alt="Diseño de uñas">
      </div>

      <div class="gallery-item">
        <img src="/static/nails6.webp" loading="lazy" alt="Diseño de uñas">
      </div>

    </div>

    <div class="gallery-action">
      <a href="https://www.instagram.com/serenanails.uy/" class="btn-secondary">
        Ir a galería
      </a>
    </div>

  </div>

</section>
<section class="giftcards">

  <div class="gift-container">
    <h2 class="gift-title">GIFTCARDS</h2>
    <p class="gift-subtitle">Un regalo para esa persona especial</p>
  </div>
  <div class="gift-grid">
    <img src="../static/giftcard2.webp" loading="lazy" alt="giftcard-modelo2">
    <img src="../static/giftcard1.webp" loading="lazy" alt="giftcard-modelo1">
  </div>
  <div class="gift-text">
      <p>Si estás pensando en el detalle perfecto para alguien, las gift cards son para vos. Solo tenés que elegir el diseño y nosotros nos encargamos de hacerla llegar. Las gift cards vienen en una presentación especial y pueden ser personalizadas a tu gusto.</p>
  </div>
  <div class="giftcard-buy">
      <a href="https://wa.me/+598097300766?text=Hola!%20Quiero%20regalar%20una%20giftcard." target="_blank" class="btn-secondary">
        Regalar
      </a>
    </div>
</section>
<section class="booking">

  <div class="container">

    <h2 class="section-title">RESERVA TU TURNO</h2>

    <p class="section-subtitle">
      Elegí el horario que mejor te quede desde nuestro calendario
    </p>

    <button class="btn-secondary" id="open-calendar">
        Ver disponibilidad
    </button>

    <div class="calendar-wrapper" id="calendar">

      <div class="calendar-placeholder">
          <a href="https://calendly.com/serena-nails/kapping" target="_blank" class="btn-secondary">
            Kapping
          </a>
          <a href="https://calendly.com/serena-nails/soft-gel" target="_blank" class="btn-secondary">
            Softgel
          </a>
          <a href="https://calendly.com/serena-nails/semipermanente" target="_blank" class="btn-secondary">
            Semipermanente
          </a>
          <a href="https://calendly.com/serena-nails/remocion" target="_blank" class="btn-secondary">
            Remoción
          </a>
      </div>

    </div>

  </div>

</section>

<footer class="footer">

  <div class="container footer-grid">

    <div class="footer-brand">
      <h3>Sheila Navcevich</h3>
      <p>Diseños profesionales de uñas.</p>
    </div>

    <div class="footer-contact">

      <h4>Contacto</h4>

      <div class="footer-icons">

        <a href="https://wa.me/+598097300766" aria-label="whatsApp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a href="https://www.instagram.com/serenanails.uy/" aria-label="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="mailto:navcevichsh@gmail.com" aria-label="Email">
          <i class="fa-regular fa-envelope"></i>
        </a>

      </div>

    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Serena Nails by BARIT</p>
  </div>

</footer>

<script src="/static/js/main.js"></script>

</body>
</html>